<div class="wrapper01">
    <div class="contents_area">
        <div class="record_area">
            <div class="action_form">
                <%= form_tag('/actions', method: :post) do %>
                    <h3>行動ログの記入</h3>
                    <div>
                    <select name="action_genre" type="text" name="genre">
                    <option value="genre01">ポートフォリオの作成</option>
                    <option value="genre02">誰かと会って話した</option>
                    <option value="genre03">新規ジャンルの追加</option>
                    </select>
                    </div>
                    <div>
                    <input type="timestamps" name="created_at">
                    <input type="time" name="example" step="300">〜<input type="time" name="example" step="300">
                    </div>
                    <div>
                    <textarea id="thought_record" type="text" name="text" cols="40" rows="4" maxlength="20" placeholder="詳細があれば記入して下さい"></textarea>
                    </div>
                    <div>
                    <select type="text" name="open_area">
                    <option value="expose_area03">非公開（自分のみ）</option>
                    <option value="expose_area01">公開（全ての人に公開されます）</option>
                    <option value="expose_area02">友達のみに公開</option>
                    </select>
                    </div>
                    <div>
                    <%= submit_tag "投稿", name: "action_button" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>