<div class="wrapper01">
    <div class="contents_area">
        <div class="record_area">
            <div class="thought_form">
                <%= form_tag('/thoughts', method: :post) do %>
                    <h3>思考ログの記入</h3>
                    <div>
                    <select name="thought_genre" type="text" name="genre">
                    <option value="genre01">プログラミングで出来ること</option>
                    <option value="genre02">起業して何をするか</option>
                    <option value="genre03">新規ジャンルの追加</option>
                    </select>
                    </div>
                    <div>
                    <input type="text" name="tag" size="30" maxlength="20" placeholder="タグを記入"></td>
                    </div>
                    <div>
                    <textarea id="thought_record" type="text" name="title" cols="40" rows="2" maxlength="30" placeholder="タイトル、要旨"></textarea>
                    <textarea id="thought_record" type="text" name="text" cols="40" rows="4" maxlength="2000" placeholder="今考えていることを記入して下さい(必須)"></textarea>
                    </div>
                    <div>
                    <select type="text" name="open_area">
                    <option value="expose_area01">公開（全ての人に公開されます）</option>
                    <option value="expose_area02">友達のみに公開</option>
                    <option value="expose_area03">非公開（自分のみ）</option>
                    </select>
                    </div>
                    <div>
                    <%= submit_tag "投稿", name: "thought_button" %>
                    </div>
                <% end %>
            </div>
        </div>

    </div>
</div>